<div class="container">
  <app-menu></app-menu>
  <div class="row">


    <!-- <h1>Hola</h1>
  <p>{{grupo}}</p>
  <div>
    El doble de 3 es {{duplicarN(3)}}
  </div>

  <div>
    <b>Matricula:</b> {{alumno.matricula}}
  </div>
  <div>
    <b>Nombre:</b> {{alumno.nombre |lowercase}}
  </div>
  <div>
    <b>Fecha de nacimiento:</b> {{alumno.fechaNacimiento |date:'dd-MM-yyyy'}}
  </div>
  <div>
    <b>Pago:</b> {{alumno.pago |currency}}
  </div> -->

    <!-- <hr>
    <app-grupo></app-grupo>
    <hr>
    <app-ievn></app-ievn> -->
    <!-- <hr> 
    <app-iric></app-iric> -->
    <!-- <app-suma></app-suma>
    <hr>
    <app-operas-bas></app-operas-bas> -->
    <!-- <app-alumno-reactive></app-alumno-reactive> -->
    <router-outlet></router-outlet>
  </div>
</div>